@model VojsaceCinema.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proffesor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proffesor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SemestarYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SemestarYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activities)
        </dt>
        <dd class="col-sm-10">
            <table class="table table-striped">
                <tr>
                    <th>Activities</th>
                </tr>
                @foreach (var item in Model.Activities)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityType)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
