@model IEnumerable<VojsaceCinema.Models.Activity>

@{
    ViewData["Title"] = "Index";
}

<h2>Activities</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatePresented)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatePresented)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActivityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActivityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActivityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
